body{
    background-color: indigo;
    height: 100vh;
}
#text{
    font-family: customfont, sans-serif;
    background-color: #cecece;
    border: 2px solid #7b706f;
    border-radius: 5px;
    width: 70vw;
    outline: none;
    box-shadow: 0 4px 10px 4px #998b8a;
}
#caretPos {
    display: inline-block;
    font-weight: bold;
}
#wrapper{
    padding-left: 10%;

}
.admin{
    background-color: aqua;
    border: 2px solid red;
    border-radius: 5px;
}

.adminP{
    border: 2px solid red;
    border-radius: 5px;
    background: aqua;
    display: inline-table;
    position: absolute;
    right: 40px;
}
.user{
    background-color: brown;
    border: 2px solid red;
    border-radius: 5px;
}
.userP {
    background-color: brown;
    border: 2px solid red;
    border-radius: 5px;
    display: inline-table;
    position: absolute;
    right: 40px
}

.manager{
    border: 2px solid red;
    border-radius: 5px;
    background-color: seagreen;
}
.managerP{
    border: 2px solid red;
    border-radius: 5px;
    display: inline-table;
    padding-top: -20px; !important;
    position: absolute;
    right: 40px;
    background-color: seagreen;
}
